*.swp
*.swo
.bak
*.bak
.DS_Store
build/*
./abci-cli
rpc/test/.ostracon
.ostracon
remote_dump
.revision
vendor
.vagrant
vagrant
test/e2e/build
test/maverick/maverick
test/e2e/networks/*/
test/p2p/data/
test/app/grpc_client
test/logs
coverage.txt
docs/_build
docs/dist
docs/.vuepress/dist
*.log
docs/node_modules/
index.html.md

scripts/wal2json/wal2json
scripts/cutWALUntil/cutWALUntil

.idea/
*.iml

.vscode/

libs/pubsub/query/fuzz_test/output
shunit2

.ostracon-lite
addrbook.json

*/vendor
.vendor-new/
*/.glide
.terraform
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.d
profile\.out
test/fuzz/**/corpus
test/fuzz/**/crashers
test/fuzz/**/suppressions
test/fuzz/**/*.zip
crypto/vrf/internal/vrf/lib
crypto/vrf/internal/vrf/include
