name: Tests
# Test runs different tests (test_abci_apps, test_abci_cli, test_apps)
# This workflow runs on every push to main or release branch and  every pull requests
# All jobs will pass without running if no *{.go, .mod, .sum} files have been modified
on:
  pull_request:
  push:
    branches:
      - main
      - release/**

jobs:
  cleanup-runs:
    runs-on: ubuntu-latest
    steps:
      - uses: rokroskar/workflow-run-cleanup-action@master
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
    if: "!startsWith(github.ref, 'refs/tags/') && github.ref != 'refs/heads/main'"

  build-abci:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20'
      - uses: actions/checkout@v4
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
      - name: install
        run: make install install_abci
        if: "env.GIT_DIFF != ''"
      - uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
        if: env.GIT_DIFF
      # Cache binaries for use by other jobs
      - uses: actions/cache@v3
        with:
          path: ~/go/bin
          key: ${{ runner.os }}-${{ github.sha }}-oc-binary
        if: env.GIT_DIFF

  test_abci_apps:
    runs-on: ubuntu-latest
    needs: build-abci
    timeout-minutes: 5
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20'
      - uses: actions/checkout@v4
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
      - uses: actions/cache@v3
        id: gobin-cache
        with:
          path: ~/go/bin
          key: ${{ runner.os }}-${{ github.sha }}-oc-binary
        if: env.GIT_DIFF
      - name: Re-install when cannot get the cached binary
        run: make install install_abci
        if: steps.gobin-cache.outputs.cache-hit != 'true'
      - name: test_abci_apps
        run: abci/tests/test_app/test.sh
        shell: bash
        if: env.GIT_DIFF

  test_abci_cli:
    runs-on: ubuntu-latest
    needs: build-abci
    timeout-minutes: 5
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20'
      - uses: actions/checkout@v4
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
      - uses: actions/cache@v3
        id: gobin-cache
        with:
          path: ~/go/bin
          key: ${{ runner.os }}-${{ github.sha }}-oc-binary
        if: env.GIT_DIFF
      - name: Re-install when cannot get the cached binary
        run: make install install_abci
        if: steps.gobin-cache.outputs.cache-hit != 'true'
      - run: abci/tests/test_cli/test.sh
        shell: bash
        if: env.GIT_DIFF

  test_apps:
    runs-on: ubuntu-latest
    needs: build-abci
    timeout-minutes: 5
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20'
      - uses: actions/checkout@v4
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
      - uses: actions/cache@v3
        id: gobin-cache
        with:
          path: ~/go/bin
          key: ${{ runner.os }}-${{ github.sha }}-oc-binary
        if: env.GIT_DIFF
      - name: Re-install when cannot get the cached binary
        run: make install install_abci
        if: steps.gobin-cache.outputs.cache-hit != 'true'
      - name: test_apps
        run: test/app/test.sh
        shell: bash
        if: env.GIT_DIFF
