name: Build for Linux
on:
  pull_request:
  push:

jobs:

  build-linux:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - goarch: "amd64"
            gcc: "gcc"
            package: ""
            host: ""
          - goarch: "arm64"
            gcc: "aarch64-linux-gnu-gcc"
            package: "g++-aarch64-linux-gnu"
            host: "aarch64-linux-gnu"
    timeout-minutes: 5
    steps:
      - run: sudo apt update && sudo apt install -y ${{ matrix.package }} qemu-user-binfmt
        if: "matrix.package != ''"
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20'
      - uses: actions/checkout@v4
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
      - name: Build Linux
        run: GOOS=linux GOARCH=${{ matrix.goarch }} CC=${{ matrix.gcc }} TARGET_HOST=${{ matrix.host }} make build
        if: "env.GIT_DIFF != ''"
